[submodule "test/designs"]
	path = test/designs
	url = ../../librelane/librelane-ci-designs.git
[submodule "test/steps/all"]
	path = test/steps/all
	url = ../../librelane/librelane-step-unit-tests.git
